<div class="p-3 col d-flex justify-content-center">
  <div class="card" style="width: 23rem;">
    <% if post.photos.attached? %>
      <%= link_to post, "data-turbo": false do %>
        <%= image_tag url_for(post.photos.first), class: 'card-img-top tw-h-60 tw-object-cover' %>
      <% end %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to post.title, post, class: 'text-decoration-none link-secondary' %></h5>
      <p class="card-text"><%= truncate(post.body.to_plain_text, length: 80) { link_to 'read more', post } %></p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
      <div><%= post.created_at.strftime("%b %Y") %></div>
      <% if user_signed_in? %>
        <div><%= link_to '', edit_post_path(post), class: "fas fa-edit" %></div>
      <% end %>
    </div>
  </div>
</div>