<% status_string = @ticket.open? ? 'Close' : 'Open' %>
<h1>View ticket #<%= @ticket.id %> (<%= @ticket.status.upcase %>)</h1>
<h4 class="tw-pb-5">Created <%= @ticket.created_at.strftime('%b %d, %Y') %></h4>
<p><span class="tw-font-semibold">Name:</span> <%= @ticket.first_name %> <%= @ticket.last_name %></p>
<p><span class="tw-font-semibold">Email:</span> <%= @ticket.email %></p>
<p><span class="tw-font-semibold">Phone number:</span> <%= number_to_phone(@ticket.phone, area_code: true) %></p>
<p><span class="tw-font-semibold">Message:</span> <%= @ticket.body %></p>
<div>
  <span><span class="tw-font-semibold">Status:</span> <%= @ticket.status.capitalize %></span>
  <% if @ticket.status == 'closed' %>
    <span>on <%= @ticket.updated_at.strftime('%b %d, %Y') %></span>
  <% end %>
</div>

<%= button_to "#{status_string} ticket", toggle_status_ticket_path(@ticket), method: :patch, class: 'tw-mt-5', form: { data: { turbo_confirm: "Are you sure you want to #{status_string} this ticket?" } } %>
<div class=" tw-flex tw-pt-10 tw-pb-5">
  <%= link_to 'Edit this ticket', edit_ticket_path(@ticket), class: "tw-rounded-lg tw-py-3 tw-px-5 tw-bg-gray-200 tw-inline-block tw-font-medium tw-no-underline tw-mr-5" %>
  <%= button_to 'Destroy this ticket', ticket_path(@ticket), method: :delete, form: { data: { turbo_confirm: 'Are you sure you want to delete this ticket?' } } %>
</div>
<%= link_to '< Back to tickets', tickets_path %>
