
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Log in</h3>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="form-outline mb-4">
                <%= f.email_field :email, placeholder: 'email', class: 'form-control form-control-lg' %>
              </div>

              <div class="form-outline mb-4">
                <%= f.password_field :password, autocomplete: "off", placeholder: 'password', class: 'form-control form-control-lg' %>
              </div>

              <div class="actions">
                <%= f.submit "Log In", class: "btn btn-primary btn-lg btn-block" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="checkbox form-check d-flex justify-content-start mb-4">
                  <label>
                    <%= f.check_box :remember_me, class: 'form-check-label' %> Remember me
                  </label>
                </div>
              <% end %>

              <div class="devise-links">
                <%= render "devise/shared/links" %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
