<%= form_with model: post do |form| %>
  <div class="tw-py-2">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="tw-py-2">
    <%= form.label :body %><br>
    <%= form.rich_text_area :body %>
    <% post.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="tw-py-2">
    <%= form.label :photos %>
    <% @post.photos.each do |image| %>
      <%= form.hidden_field :photos, multiple: true, value: image.signed_id %>
    <% end %>

    <%= form.file_field :photos, multiple: true %>
  </div>

  <div class="tw-py-2">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="tw-py-2">
    <%= form.label :end_date, "End date (leave blank if still ongoing)" %>
    <%= form.date_field :end_date %>
  </div>

  <div class="tw-py-2">
    <%= form.submit %>
    <%= link_to 'Cancel', posts_path %>

  </div>
<% end %>
