<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<p>Author: <%= full_name(@post.user) %></p>

<% if @post.photos.attached? %>
  <% @post.photos.each do |photo| %>
    <p>Photo ID: <%= photo.id %></p>
    <img src="<%=(url_for(photo))%>" class="w-50">
    <%= link_to 'Delete', destroy_photos_post_path(photo), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%# <%= link_to 'Make main photo', set_cover_photo_post_path(@post, photo), method: :put, data: { confirm: 'Set main photo?' } %>
  <% end %>
<% end %>

<%# TODO: use something like https://tailwind-elements.com/docs/standard/components/gallery/ %>

<div>
  <% if user_signed_in? %>
    <%= link_to ' Edit', edit_post_path(@post), class: "fas fa-edit btn btn-primary" %>
    <%= link_to ' Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure you wish to delete this? The data CANNOT be recovered!" }, class: "fas fa-trash btn btn-danger" %>
  <% end %>

  <%= link_to ' Back', portfolio_path, class: "fas fa-backward btn btn-primary" %>
  <i class="fas-fa-edit" title="Edit"></i>
</div>