<% width = @post.photos.count > 9 ? 'md:tw-w-1/4' : 'md:tw-w-1/3' %>

<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<% if @post.photos.attached? %>
  <section class="tw-overflow-hidden tw-text-gray-700">
    <div class="tw-container tw-px-5 tw-py-2 tw-mx-auto lg:tw-pt-12 lg:tw-px-32">
      <div class="tw-flex tw-flex-wrap -tw-m-1 md:-tw-m-2">
        <% @post_photos.each do |photo| %>
          <div class="tw-relative tw-flex tw-flex-wrap <%= width %>">
            <div class="tw-w-full tw-p-1 md:tw-p-2">
              <a class="-tw-mb-5" href="<%=(url_for(photo))%>" data-lightbox="<%= @post.title %>">
                <img src="<%=(url_for(photo))%>" class="tw-block tw-object-cover tw-object-center tw-w-full tw-h-full tw-rounded-lg" title="<%= photo.created_at.strftime('%b %d, %Y') %>">
              </a>
              <% if user_signed_in? %>
                <div class="tw-flex tw-absolute tw-top-4 tw-right-4 tw-space-x-2 tw-no-underline">
                  <%= link_to "", set_cover_photo_post_path(@post, photo_id: photo.id), class: "fas fa-star tw-text-yellow-600 hover:tw-text-yellow-800", title: "Set as cover photo", method: :patch, data: { confirm: 'Set as main photo?' } %>
                  <%= link_to "", destroy_photos_post_path(photo), class: "fas fa-trash tw-text-red-600 hover:tw-text-red-800", title: "Delete Photo ID #{photo.id}", method: :delete, data: { confirm: 'Delete this photo?' } %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tw-flex tw-justify-center tw-pt-10">
        <%= pagy_bootstrap_nav(@pagy).html_safe %>
      </div>
    </div>
  </section>
<% end %>

<%# TODO: use something like https://tailwind-elements.com/docs/standard/components/gallery/ %>

<div class="tw-pt-10">
  <% if user_signed_in? %>
    <%= link_to ' Edit', edit_post_path(@post), class: "fas fa-edit tw-no-underline btn btn-primary" %>
    <%= link_to ' Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure you wish to delete this? The data CANNOT be recovered!" }, class: "fas fa-trash btn btn-danger" %>
  <% end %>

  <%= link_to ' Back', portfolio_path, class: "fas fa-backward btn btn-primary" %>
  <i class="fas-fa-edit" title="Edit"></i>
</div>
