<!-- Navigation -->

<nav class="navbar navbar-expand-md navbar-dark bg-secondary px-5">
  <div class="container-fluid">
    <%= link_to 'Soul Building, Inc', root_path, class: 'navbar-brand tw-font-heading' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-nav" aria-controls="mobile-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="visually-hidden">Toggle navigation</span>
    </button>

    <div class="collapse navbar-collapse border-left" id="mobile-nav">
      <div class="navbar-nav nav-fill w-100 align-items-start tw-font-heading">
        <%= nav_link 'Home', root_path %>
        <%= nav_link 'Portfolio', portfolio_path %>
        <%= nav_link 'Contact', contact_us_path %>
        <%= nav_link 'About', about_path %>
      </div>
    </div>
  </div>
</nav>
