<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary px-5">
  <div class="container">
    <%= link_to 'Soul Building Inc', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggler" aria-controls="toggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse border-left" id="toggler">
      <ul class="navbar-nav nav-fill w-100 align-items-start">
        <%= nav_link 'Home', root_path %>
        <%= nav_link 'Portfolio', portfolio_index_path %>
        <%= nav_link 'Contact', contact_us_index_path %>
        <%= nav_link 'About', about_index_path %>
      </ul>
    </div>
  </div>
</nav>