<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags site: 'Soul Building, Inc',
                          description: 'Licensed and insured with 30+ years of experience in the Hamptons. Quality, commitment & ultimate customer satisfaction is our goal.',
                          keywords: 'renovation, remodel, remodeling, kitchen, bathroom, tile, stone, contractor, new house, hamptons',
                          reverse: true,
                          separator: '-' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body class="tw-relative">
    <header>
      <%= render "layouts/navbar" %>
      <% if notice %>
        <%= render 'layouts/notification', type: :notice, message: notice %>
      <% end %>
      <% if alert %>
        <%= render 'layouts/notification', type: :alert, message: alert %>
      <% end %>
    </header>

    <%# Notification bubble for open tickets %>
    <% if current_user.present? && Ticket.all.open.count > 0 %>
      <div class="tw-fixed tw-right-10 tw-bottom-8 tw-w-auto tw-max-w-[80px] tw-text-center tw-rounded-full tw-p-2 tw-z-10">
        <%= link_to tickets_path do %>
          <i class="fas fa-comment-dots tw-text-4xl tw-relative"></i>
          <span class="tw-absolute tw-text-xs tw-top-0 tw-right-0 tw-font-semibold tw-animate-pulse"><%= Ticket.all.open.count %></span>
        <% end %>
      </div>
    <% end %>

    <div id="wrap">
      <div class="<%= show_container?('container') %>">
        <div class="<%= show_container?('container2') %>">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
